* {
    box-sizing: border-box;
}

.case {
    display: flex;
    flex-direction: column;
    width: 140px;
    font-family: Helvetica, Arial, sans-serif;
    border: 8px solid #5F503E;
    border-radius: 2px;
}

.screen {

    border-bottom: 3px solid black;
    padding: 0.3em;
    width: 124px;
    background: #222;
    color: white;
    text-align: right;
    font-size: 22px;
}

.buttons {
    display: flex;
    width: 124px;
    flex-wrap: wrap;
}

.buttons .operators {
    background: #ED8008;
}

.buttons .clear {
    background: #736B1E;
}

.buttons .equals {
    background: #ED3F1C;
    color: white;
}

.buttons .numbers {
    background: #D9D2C6;
}

button {
    height: 31px;
    width: 31px;
    border: none;
    margin: 0em;
    flex: none;
    font-size: 16px;
}